/* html */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  color:  #e2cdcd;
  background-color: #531313;
}

/* a */
a {
  text-decoration: none;
  color: #e2cdcd;
}

a:visited {
  color: #e2cdcd;
  text-decoration: none;
}

/* buttons */
button {
  font-family: 'Oswald', sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

header ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

header li {
  margin: 0px 30px;
}

header li:hover {
  color: white;
}

header p {
  white-space: nowrap;
}

header p:hover {
  color: white;
}

/* main */
main {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  margin-top: 100px;
}

#main-text {
  text-align: center;
  margin-right: 50px;
}

#main-text h1 {
  font-size: 3rem;
}

#main-text p {
  font-size: 28px;
}

#main-text span {
  white-space: nowrap;
}

#main-text-btn {
  margin-top: 100px;
  padding: 10px 20px;
  font-size: 28px;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

#main-text-btn:hover {
  background-color: black;
  color: #e2cdcd;
}

#profile-img {
  width: 360px;
}

@media (max-width: 768px) {
  html, body {
    padding-bottom: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }

  #main-text {
    margin-right: 0px;
  }

  #profile-img {
    width: 280px;
  }
}

@media (max-width: 480px) {
  #profile-img {
    width: 100px;
  }
}